<div class="keypad">
    <button class="keypad-button" (click)="onNumberClick('1')">1</button>
    <button class="keypad-button" (click)="onNumberClick('2')">2</button>
    <button class="keypad-button" (click)="onNumberClick('3')">3</button>
    <button class="keypad-button" (click)="onNumberClick('4')">4</button>
    <button class="keypad-button" (click)="onNumberClick('5')">5</button>
    <button class="keypad-button delete" (click)="onDelete()">
        <img src="/assets/images/icons/icon-delete.svg" alt="" class="icon-action" />
    </button>

    <button class="keypad-button" (click)="onNumberClick('6')">6</button>
    <button class="keypad-button" (click)="onNumberClick('7')">7</button>
    <button class="keypad-button" (click)="onNumberClick('8')">8</button>
    <button class="keypad-button" (click)="onNumberClick('9')">9</button>
    <button class="keypad-button" (click)="onNumberClick('0')">0</button>
    <button class="keypad-button confirm" (click)="onConfirm()">
        <img src="/assets/images/icons/icon-confirm.svg" alt="" class="icon-action" />
    </button>
</div>
