<div class="cancel-ride-cv2">
    <ng-container *ngIf="step === 1">
        <confirm-dialog
            [title]="'Cancel Ride CV2'"
            [content]="'Confirm to cancel ride for CV2?'"
            [btnCancel]="true"
            [btnConfirm]="true"
            (onCancel)="handleConfirmCancelRide(false)"
            (onConfirm)="handleConfirmCancelRide(true)"
        >
        </confirm-dialog>
    </ng-container>

    <ng-container *ngIf="step === 2">
        <confirm-dialog
            [title]="'Cancel Ride CV2 In Progress'"
            [content]="'Press the X button to cancel'"
            [btnCancel]="true"
            (onCancel)="handleCancelRide()"
        >
        </confirm-dialog>
    </ng-container>

    <ng-container *ngIf="step === 3">
        <confirm-dialog [title]="'Cancel Ride at CV2 is Completed'" [btnOK]="true" (onOK)="handleFinish()">
            <div *ngIf="success" style="margin-bottom: 20px" icon>
                <img src="/assets/images/icons/maintenance/big-success.svg" alt="" />
            </div>
            <div *ngIf="!success" style="margin-bottom: 20px" icon>
                <img src="/assets/images/icons/maintenance/big-error.svg" alt="" />
            </div>
        </confirm-dialog>
    </ng-container>
</div>
