@import '@styles/_variables.scss';

:host {
    position: relative;
}

.deck-type {
    height: 100%;
    text-align: center;

    .back-button {
        @include light-back-button;
        font-weight: $font-weight-bold;
        position: absolute;
        top: 0;
        left: 0;
    }

    .title {
        font-size: 32px;
        font-weight: $font-weight-bold;
        margin-bottom: 10px;
    }

    .content {
        margin: 0 auto;
        width: 500px;
        text-align: center;

        .label,
        .value {
            font-size: 32px;
        }

        .value {
            font-weight: $font-weight-bold;
        }

        p {
            line-height: 2;
        }
    }

    .button {
        @include dark-button;
        font-size: 18px;
        font-weight: $font-weight-bold;
        margin: auto;
        margin-top: 20px;
        flex-direction: row;
        background: $madt-bg-light-1;
        padding: 16px 20px;

        &::before {
            content: none;
        }

        .text {
            padding-left: 10px;
        }

        &:active {
            transform: scale(1.01);
        }
    }

    .dia-log {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $black;
        opacity: 0.9;
        z-index: 1000;
        border-radius: 4px;

        &-main {
            min-width: 600px;
            display: inline-block;
            background-color: $color-bg-dark-1;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 40px 24px;
            border-radius: 8px;
        }

        &-header {
            @include flex-center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        &-title {
            font-size: 24px;
            font-weight: $font-weight-bold;
            color: $white;
        }

        .close-btn {
            @include flex-center;
            font-size: 18px;
            font-weight: $font-weight-bold;

            span {
                padding-left: 8px;
            }
        }

        &-content {
            font-size: 28px;
            margin-bottom: 20px;
            padding: 6px;

            .deck-type-table {
                width: 100%;
                margin-top: 10px;

                tr {
                    th {
                        vertical-align: middle;
                        width: 48px;
                        height: 48px;

                        .radio {
                            height: 100%;
                            width: 100%;
                            @include flex-center;
                        }
                    }

                    td {
                        font-size: 20px;
                        padding: 0px 12px;
                        text-align: left;
                        vertical-align: middle;
                        font-weight: $font-weight-regular;
                        border-left: 2px solid $color-bg-dark-1;
                    }
                }

                tr:nth-child(odd) > th,
                tr:nth-child(odd) > td {
                    background-color: $madt-bg-dark-2;
                }

                tr:nth-child(even) > th,
                tr:nth-child(even) > td {
                    background-color: $madt-bg-dark-3;
                }
            }
        }
    }
}
