.wrapper {
    background: black;
    padding: 20px;
    color: white;
    min-height: 100vh;

    .date-time-display {
        color: #fff;
        background-color: #10151b;
        padding: 20px;
        font-size: 22px;
        font-weight: lighter;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        gap: 15px;

        .calendar-icon {
            width: 25px;
        }

        .current-time {
            display: flex;
            align-items: center;
            gap: 14px;

            .divider {
                width: 1px;
                height: 25px;
                background: #99bad9;
            }
        }
    }

    .form-container {
        display: flex;
        flex-direction: column;
        background-color: #1a2733;
        border-radius: 0 0 10px 10px;
        padding: 210px 0;

        .title {
            font-size: 40px;
            font-weight: bold;
            text-align: center;
        }

        .form-correct {
            font-size: 30px;
            margin: 60px auto;
            display: flex;
            flex-direction: column;
            gap: 5px;

            .flex-data {
                display: flex;
                align-items: baseline;

                .label {
                    font-weight: lighter;
                    width: 280px;
                }

                .value {
                    line-height: 1.2;
                    width: 350px;
                }
            }
        }

        .action {
            display: flex;
            justify-content: center;
            gap: 20px;

            .cancel-button {
                color: black;
                background-color: #dddddd;
                width: 200px;
                height: 74px;
                border-radius: 8px;
                font-size: 24px;
                font-weight: bold;
            }
            .proceed-button {
                color: black;
                background-color: #f0aa03;
                width: 200px;
                height: 74px;
                border-radius: 8px;
                font-size: 24px;
                font-weight: bold;
            }
        }
    }
}
