@import '@styles/_variables.scss';

.redetect-cv-page {
    text-align: center;

    .title {
        margin: 30px 0;
        font-size: 32px;
        font-weight: $font-weight-bold;
    }

    .content {
        margin: 0 auto;
        width: 550px;
        text-align: center;
        p {
            font-size: 28px;
            line-height: 2;
        }
    }

    .button {
        @include dark-button;
        font-size: 18px;
        font-weight: $font-weight-bold;
        height: 54px;
        width: 110px;
        margin: auto;
        margin-top: 20px;
        flex-direction: row;
        background: $madt-bg-light-1;

        &::before {
            content: none;
        }

        .text {
            padding-left: 6px;
        }

        &:active {
            transform: scale(1.01);
        }
    }

    .dia-log {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        background-color: $black;
        z-index: 1000;
        border-radius: 4px;

        &.step-3 {
            .dia-log-main {
                padding: 30px;
                // top: 50%;
            }
            .dia-log-title {
                font-size: 24px;
                text-align: left;
            }
            .dia-log-content {
                font-size: 20px;
            }

            .table {
                width: 100%;

                th,
                td:not(:last-child) {
                    border-right: 1px solid $madt-bg-dark-2;
                }

                th,
                tr {
                    font-size: 20px;
                    text-align: left;
                }

                th,
                td {
                    text-align: left;
                    padding: 15px;
                }

                tr:nth-child(odd) > th,
                tr:nth-child(odd) > td {
                    background-color: $madt-bg-dark-2;
                }

                tr:nth-child(even) > th,
                tr:nth-child(even) > td {
                    background-color: $madt-bg-dark-3;
                }
            }
        }

        &-main {
            min-width: 600px;
            display: inline-block;
            background-color: $color-bg-black-1;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 60px 50px;
        }

        &-title {
            font-size: 32px;
            font-weight: $font-weight-bold;
            color: $white;
            margin-bottom: 20px;

            .icon {
                transform: scale(2.5);
                color: $color-green;
            }
        }

        &-content {
            font-size: 28px;
            margin-bottom: 20px;
        }

        .progress-bar {
            margin: 0 auto;
            width: 270px;
            background-color: $white;

            .progress {
                background-color: $color-green;
                height: 24px;
            }
        }

        .button {
            width: 110px;
        }
    }
}
