<div class="show-cv-status">
    <div class="dia-log">
        <div class="dia-log-main">
            <div class="dia-log-header">
                <h3 class="dia-log-title">Show CV Status</h3>
                <div class="close-btn" (click)="handleClose()">
                    <img src="/assets/images/icons/main/close-circle.svg" alt="" />
                    <span>Close</span>
                </div>
            </div>
            <div class="dia-log-content">
                <table class="table">
                    <tr>
                        <td>
                            <div class="row">
                                <div class="left">
                                    <p class="cv-name">CV1:</p>
                                    <p class="cv-status cv-status-active">In Service</p>
                                </div>
                                <div class="" right>Auto</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="left">
                                    <p class="cv-name">CV2:</p>
                                    <p class="cv-status">Not Installed</p>
                                </div>
                                <!-- <div class="" right>Auto</div> -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="left">
                                    <p class="cv-name">CV3:</p>
                                    <p class="cv-status">Not Installed</p>
                                </div>
                                <!-- <div class="" right>Auto</div> -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="left">
                                    <p class="cv-name">CV4:</p>
                                    <p class="cv-status">Not Installed</p>
                                </div>
                                <!-- <div class="" right>Auto</div> -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="left">
                                    <p class="cv-name">CV5:</p>
                                    <p class="cv-status">Not Installed</p>
                                </div>
                                <!-- <div class="" right>Auto</div> -->
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="row">
                                <div class="left">
                                    <p class="cv-name">CV6:</p>
                                    <p class="cv-status">Not Installed</p>
                                </div>
                                <!-- <div class="" right>Auto</div> -->
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
