<main>
    <div class="header">
        <div class="navigation-section">
            <div class="logout-button">
                <img src="/assets/images/icons/main/logout.svg" alt="" />
                Logout
            </div>
            <div class="endtrip-button">
                <img src="/assets/images/icons/main/stop.svg" alt="" />
                End Trip
            </div>
        </div>

        <div class="status-indicators">
            <div class="status">
                <img src="/assets/images/icons/main/check.svg" alt="" />
                BOLC
            </div>
            <div class="status">
                <img src="/assets/images/icons/main/check.svg" alt="" />
                Ticketing
            </div>
            <div class="status">
                <img src="/assets/images/icons/main/check.svg" alt="" />
                FMS
            </div>
            <div class="status">
                <img src="/assets/images/icons/main/check.svg" alt="" />
                CRP
            </div>
        </div>
        <div class="datetime-section font-28">
            <div class="date">29/04/2024</div>
            <div class="time">09:34:56</div>
        </div>
    </div>
    <div class="content">
        <div class="status-wrapper">
            <div class="status-1">
                <div class="title">
                    <div class="status-icon">
                        <div class="number">1</div>
                        <img src="/assets/images/icons/main/status.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/wheelchair.svg" alt="" />
                        <div class="text">PWD</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">2</div>
                        <img src="/assets/images/icons/main/status.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/senior.svg" alt="" />
                        <div class="text">Senior</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">3</div>
                        <img src="/assets/images/icons/main/status2.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/student.svg" alt="" />
                        <div class="text">Student</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">4</div>
                        <img src="/assets/images/icons/main/status2.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/circlecheck.svg" alt="" />
                        <div class="text">SIMPLYGO</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">5</div>
                        <img src="/assets/images/icons/main/status3.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/soldier.svg" alt="" />
                        <div class="text">NSF</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">6</div>
                        <img src="/assets/images/icons/main/status3.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/maintenance.svg" alt="" />
                        <div class="text">Workfare</div>
                    </div>
                </div>
            </div>
            <div class="button-control">
                <div class="button item1">
                    <img src="/assets/images/icons/main/brkdwn.svg" alt="" />
                    Brkdwn
                </div>
                <div class="button item2">
                    <img src="/assets/images/icons/main/farebox.svg" alt="" />
                    Fare Box
                </div>
                <div class="button item3">
                    <img src="/assets/images/icons/main/frontexit.svg" alt="" />
                    Front Exit
                </div>
                <div class="button item4">
                    <img src="/assets/images/icons/main/free.svg" alt="" />
                    Free
                </div>
                <div class="button item5">
                    <img src="/assets/images/icons/main/coins.svg" alt="" />
                    Fare
                </div>
                <div class="button item6">
                    <img src="/assets/images/icons/main/msg.svg" alt="" />
                    FMS Msg
                </div>
                <div class="button item7">
                    <img src="/assets/images/icons/main/uparrow.svg" alt="" />
                </div>
                <div class="button item8">
                    <img src="/assets/images/icons/main/downarrow.svg" alt="" />
                </div>
            </div>
        </div>
        <div class="service">
            <div class="info">
                <div class="detail">
                    <div class="information">
                        <div class="info-items">
                            <div class="title">SERVICE NUMBER</div>
                            <div class="number font-weight">983M</div>
                        </div>
                        <div class="info-route">
                            <div class="plate-number">PLATE NUMBER: <span class="bold font-28">SBS3327</span></div>
                            <div class="route">
                                <div class="SPID">SPID: <span class="bold">LDBO(27)</span></div>
                                <div class="DIR">DIR: <span class="bold">2</span></div>
                                <div class="KM">KM: <span class="bold">27.5</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="headway">
                    <div class="headway-top">
                        <div class="icon">
                            <img src="/assets/images/icons/main/headway.svg" alt="" />
                        </div>
                        <div class="title-headway">
                            <div class="lebal-headway font-weight">163-sw-290</div>
                            <div class="time font-28">02:30</div>
                        </div>
                    </div>
                    <div class="headway-bottom">
                        <div class="icon">
                            <img src="/assets/images/icons/main/headway2.svg" alt="" />
                        </div>
                        <div class="title-headway">
                            <img src="/assets/images/icons/main/arrow.svg" alt="" />
                            <div class="title-right font-weight">1’</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="group">
                @for (item of indicators; track item) {
                    <div class="indicator font-weight" [ngStyle]="{ 'background-color': item.color }">
                        @if (item.left) {
                            <div *ngIf="item.left" class="left" [ngStyle]="{ 'background-color': item.color }">
                                {{ item.left }}
                            </div>
                        }
                        @if (item.right) {
                            <div class="right">{{ item.right }}</div>
                        }
                        <div class="name">{{ item.name }}</div>
                        <div class="time">{{ item.time }}</div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="nav-item">
            <img src="/assets/images/icons/main/main-icon.svg" alt="" />
            Main
        </div>
        <div class="nav-item">
            <img src="/assets/images/icons/main/ticket-icon.svg" alt="" />
            Ticketing
        </div>
        <div class="nav-item">
            <img src="/assets/images/icons/main/envelope-icon.svg" alt="" />
            FMS
        </div>
        <div class="nav-item">
            <img src="/assets/images/icons/main/gear-icon.svg" alt="" />
            Maintenance
        </div>
    </div>
</main>
