<main>
    <div class="header">
        <div class="navigation-section">
            <div class="logout-button">
                <img src="/assets/images/icons/main/logout.svg" alt="" />
                Logout
            </div>
            <div class="endtrip-button">
                <img src="/assets/images/icons/main/stop.svg" alt="" />
                End Trip
            </div>
        </div>

        <div class="status-indicators">
            <div class="status">
                <img src="/assets/images/icons/main/check.svg" alt="" />
                BOLC
            </div>
            <div class="status">
                <img src="/assets/images/icons/main/check.svg" alt="" />
                Ticketing
            </div>
            <div class="status">
                <img src="/assets/images/icons/main/check.svg" alt="" />
                FMS
            </div>
            <div class="status">
                <img src="/assets/images/icons/main/check.svg" alt="" />
                CRP
            </div>
        </div>
        <div class="datetime-section">
            <div class="date">{{ currentDate }}</div>
            <div class="time">{{ currentTime }}</div>
        </div>
    </div>
    <div class="content">
        <div class="status-wrapper">
            <div class="status-1">
                <div class="title">
                    <div class="status-icon">
                        <div class="number">1</div>
                        <img src="/assets/images/icons/main/status.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/wheelchair.svg" alt="" />
                        <div class="text">PWD</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">2</div>
                        <img src="/assets/images/icons/main/status.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/senior.svg" alt="" />
                        <div class="text">Senior</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">3</div>
                        <img src="/assets/images/icons/main/status2.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/student.svg" alt="" />
                        <div class="text">Student</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">4</div>
                        <img src="/assets/images/icons/main/status2.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/circlecheck.svg" alt="" />
                        <div class="text">SIMPLYGO</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">5</div>
                        <img src="/assets/images/icons/main/status3.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/soldier.svg" alt="" />
                        <div class="text">NSF</div>
                    </div>
                </div>
                <div class="title">
                    <div class="status-icon">
                        <div class="number">6</div>
                        <img src="/assets/images/icons/main/status3.svg" alt="" />
                    </div>
                    <div class="icon-text">
                        <img src="/assets/images/icons/main/maintenance.svg" alt="" />
                        <div class="text">Workfare</div>
                    </div>
                </div>
            </div>
            <div class="button-control">
                <div class="button item1">
                    <img src="/assets/images/icons/main/brkdwn.svg" alt="" />
                    Brkdwn
                </div>
                <div class="button item2">
                    <img src="/assets/images/icons/main/farebox.svg" alt="" />
                    Fare Box
                </div>
                <div class="button item3">
                    <img src="/assets/images/icons/main/frontexit.svg" alt="" />
                    Front Exit
                </div>
                <div class="button item4">
                    <img src="/assets/images/icons/main/free.svg" alt="" />
                    Free
                </div>
                <div class="button item5">
                    <img src="/assets/images/icons/main/coins.svg" alt="" />
                    Fare
                </div>
                <div class="button item6">
                    <img src="/assets/images/icons/main/msg.svg" alt="" class="icon" />
                    FMS Msg
                </div>
                <div class="button item7">
                    <img src="/assets/images/icons/main/polygon.svg" alt="" class="icon-up" />
                </div>
                <div class="button item8">
                    <img src="/assets/images/icons/main/downarrow.svg" alt="" class="icon-down" />
                </div>
            </div>
        </div>
        <div class="service">
            <div class="info">
                <div class="detail">
                    <div class="information">
                        <div class="info-items">
                            <div class="title">SERVICE NUMBER</div>
                            <div class="number">983M</div>
                        </div>
                        <div class="info-route">
                            <div class="plate-number">PLATE NUMBER: <span class="number">SBS3327</span></div>
                            <div class="route">
                                <div class="label-data">SPID: <span class="data">LDBO(27)</span></div>
                                <div class="label-data">DIR: <span class="data">2</span></div>
                                <div class="label-data">KM: <span class="data">27.5</span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="headway">
                    <div class="headway-top">
                        <div class="icon">
                            <img src="/assets/images/icons/main/headway.svg" alt="" />
                        </div>
                        <div class="title-headway">
                            <div class="lebal-headway">163-sw-290</div>
                            <div class="time">02:30</div>
                        </div>
                    </div>
                    <div class="headway-bottom">
                        <div class="icon">
                            <img src="/assets/images/icons/main/headway2.svg" alt="" />
                        </div>
                        <div class="title-headway">
                            <img src="/assets/images/icons/main/arrow.svg" alt="" />
                            <div class="title-right">1’</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="line" />
            <div class="group">
                @for (item of indicators; track item) {
                    <div class="indicator" [ngStyle]="{ 'background-color': item.color }">
                        @if (item.left) {
                            <div *ngIf="item.left" class="left" [ngStyle]="{ 'background-color': item.badgeColor }">
                                {{ item.left }}
                            </div>
                        }
                        @if (item.right) {
                            <img src="/assets/images/icons/main/star.svg" alt="" class="right" />
                        }
                        <div class="matd-indicatior">
                            <div
                                class="name"
                                [ngStyle]="{ 'font-weight': item.textStyle === 'lighter' ? 'normal' : 'bold' }"
                            >
                                {{ item.name }}
                            </div>
                            <div
                                class="time"
                                [ngStyle]="{ 'font-weight': item.textStyle === 'lighter' ? 'normal' : 'bold' }"
                            >
                                {{ item.time }}
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <app-navbar />
</main>
