<div class="container">
    <div class="page-header">
        <h2>Toggle Rear Doors</h2>
    </div>
    <div class="dialog">
        <div class="dialog-header">
            <p>Toggle Rear Doors to</p>
            <p>Entry/Exit Mode</p>
        </div>
        <p class="confirm-msg">Confirm the update?</p>
        <div class="cf-btn-group">
            <div class="btn btn-cancel" (click)="handleUpdateCV()">
                <img src="/assets/images/icons/main/close.svg" alt="" />
                <span>Cancel</span>
            </div>
            <div class="btn btn-confirm" (click)="handleUpdateCV()">
                <img src="/assets/images/icons/main/confirm.svg" alt="" />
                <span>Confirm</span>
            </div>
        </div>
    </div>
</div>
