<div class="version-info-page">
    <ng-scrollbar #scrollable class="version-info-table">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>BFC</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BEV1</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BEV1</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BXV1</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BXV2</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BXV3</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BXV3</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BXV4</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BXV5</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BXV6</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BXV7</td>
                <td>BFC.A.05.22.00</td>
            </tr>
            <tr>
                <td>BLS Version</td>
                <td>01.79.07</td>
            </tr>
            <tr>
                <td>Longitude</td>
                <td>0000000000</td>
            </tr>
            <tr>
                <td>Latitude</td>
                <td>0000000000</td>
            </tr>
            <tr>
                <td>BLS Calibration Factor</td>
                <td>457</td>
            </tr>
            <tr>
                <td>Odometer Reading</td>
                <td>11132m</td>
            </tr>
            <tr>
                <td>Odometer</td>
                <td>Not Calibrated</td>
            </tr>
            <tr>
                <td>GPS Antenna</td>
                <td>Fault</td>
            </tr>
            <tr>
                <td>No. of Doors</td>
                <td>2</td>
            </tr>
            <tr>
                <td>Auto Location</td>
                <td>Enabled</td>
            </tr>
            <tr>
                <td>DR Calibration</td>
                <td>Not Calibrated</td>
            </tr>
            <tr>
                <td>Temperature</td>
                <td>N/A</td>
            </tr>
            <tr>
                <td>Gyro Switch</td>
                <td>Fixed</td>
            </tr>
        </table>
    </ng-scrollbar>
</div>
