<div class="display-audit-page">
    <h2 class="title">Audit Registers</h2>
    <table class="table">
        <tr>
            <th>Number of Cash Txn</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Total Cash</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Number of Bus Trips</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Number of Bus Breakdown</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Out of Services</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Number of Clock Drift</th>
            <td>0</td>
        </tr>
        <tr>
            <th>Number of Storage Full</th>
            <td>0</td>
        </tr>
    </table>
</div>
