<div class="gyro-switch-page">
    <div *ngIf="step === 1" class="step-1">
        <h2 class="title">Gyro Switch</h2>
        <div class="content">
            <p>Current Gyro switch is Fixed.</p>
            <div class="btn-group">
                <div class="button" (click)="handleSelect()">
                    <img src="/assets/images/icons/maintenance/auto.svg" alt="" />
                    <div class="text">Auto</div>
                </div>
                <div class="button" (click)="handleSelect()">
                    <mat-icon>check</mat-icon>
                    <div class="text">Fix</div>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="step === 2" class="dia-log step-2">
        <div class="dia-log-main">
            <h3 class="dia-log-title">Gyro Switch Confirmation</h3>
            <div class="dia-log-content">Gyro Switch change to Fixed</div>
            <div class="btn-group">
                <div class="button button-cancel" (click)="handleFinish()">
                    <img src="/assets/images/icons/main/close.svg" alt="" />
                    <span>Cancel</span>
                </div>
                <div class="button button-confirm" (click)="handleFinish()">
                    <img src="/assets/images/icons/main/confirm.svg" alt="" />
                    <span>Confirm</span>
                </div>
            </div>
        </div>
    </div>
</div>
